

#desktop_2-0 {
	background-color: rgba(255, 255, 255, 1);
	z-index: 0;
}

#desktop_50-2 {
	width: 100vw;
	height: 20.833333333333336vw;
	margin-top: 169.16666666666666vw;
	margin-left: 0vw;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;
}

#desktop_2-61 {
	width: 50.520833333333336vw;
	height: 159.79166666666666vw;
	margin-top: 9.375vw;
	margin-left: 24.739583333333336vw;
	z-index: 2;
}

#desktop_2-472 {
	width: 24.739583333333336vw;
	height: 108.17708333333333vw;
	margin-top: 9.375vw;
	margin-left: 75.26041666666666vw;
	z-index: 3;
}

#desktop_2-614 {
	width: 100vw;
	height: 9.375vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 4;
}

#desktop_50-3 {
	width: 100vw;
	height: 20.833333333333336vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 5;
}

#desktop_50-5 {
	width: 15.625vw;
	height: 5.208333333333334vw;
	margin-top: 0vw;
	margin-left: 24.739583333333336vw;
	z-index: 6;
}

#desktop_50-30 {
	width: 15.625vw;
	height: 10.416666666666668vw;
	margin-top: 0.5208333333333333vw;
	margin-left: 24.739583333333336vw;
	z-index: 7;
}

#desktop_50-36 {
	width: 34.89583333333333vw;
	height: 15.625vw;
	margin-top: 0vw;
	margin-left: 40.36458333333333vw;
	z-index: 8;
}

#desktop_50-57 {
	width: 50.520833333333336vw;
	height: 5.208333333333334vw;
	margin-top: 15.625vw;
	margin-left: 24.739583333333336vw;
	z-index: 9;
}

#desktop_2-166 {
	width: 50.520833333333336vw;
	height: 125.52083333333333vw;
	margin-top: 2.604166666666667vw;
	margin-left: 0vw;
	z-index: 44;
}

#desktop_2-335 {
	width: 50.520833333333336vw;
	height: 26.041666666666668vw;
	margin-top: 128.125vw;
	margin-left: 0vw;
	z-index: 45;
}

#desktop_10-0 {
	width: 24.739583333333336vw;
	height: 109.375vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 203;
}

#desktop_2-615 {
	width: 100vw;
	height: 5.208333333333334vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 211;
}

#desktop_2-640 {
	width: 50.520833333333336vw;
	height: 5.208333333333334vw;
	margin-top: 0vw;
	margin-left: 24.739583333333336vw;
	z-index: 212;
}

#desktop_50-4 {
	width: 100vw;
	height: 20.833333333333336vw;
	margin-top: 0vw;
	margin-left: 0vw;
	background-color: rgba(135.49999952316284, 15.999999046325684, 255, 1);
	z-index: 10;
}

#desktop_55-73 {
	width: 9.375vw;
	height: 4.166666666666666vw;
	margin-top: 0.8333333333333334vw;
	margin-left: 0.26041666666666663vw;
	z-index: 11;
}

#desktop_50-32 {
	width: 14.583333333333334vw;
	height: 9.635416666666668vw;
	margin-top: 0.26041666666666663vw;
	margin-left: 0.5208333333333333vw;
	z-index: 12;
}

#desktop_50-38 {
	width: 33.85416666666667vw;
	height: 14.583333333333334vw;
	margin-top: 0.5208333333333333vw;
	margin-left: 0.5208333333333333vw;
	z-index: 15;
}

#desktop_50-59 {
	width: 49.583333333333336vw;
	height: 4.166666666666666vw;
	margin-top: 0.5208333333333333vw;
	margin-left: 0.4166666666666667vw;
	z-index: 31;
}

#desktop_50-34 {
	width: 13.020833333333334vw;
	height: 4.166666666666666vw;
	margin-top: 0.78125vw;
	margin-left: 0.78125vw;
	z-index: 13;
}

#desktop_50-35 {
	width: 13.020833333333334vw;
	height: 3.958333333333333vw;
	margin-top: -0.5208333333333333vw;
	margin-left: -0.78125vw;
	color: rgba(255, 255, 255, 1);
	z-index: 14;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 0.9375vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 0.9765625vw;
}

#desktop_50-40 {
	width: 33.85416666666667vw;
	height: 14.583333333333334vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 16;
}

#desktop_50-41 {
	width: 16.927083333333336vw;
	height: 14.583333333333334vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 17;
}

#desktop_50-48 {
	width: 16.927083333333336vw;
	height: 14.583333333333334vw;
	margin-top: 0vw;
	margin-left: 16.927083333333336vw;
	z-index: 18;
}

#desktop_50-56 {
	width: 13.333333333333334vw;
	height: 1.1979166666666667vw;
	margin-top: 0vw;
	margin-left: 16.927083333333336vw;
	color: rgba(255, 255, 255, 1);
	z-index: 19;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
	font-size: 1.1458333333333333vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.220703125vw;
}

#desktop_50-47 {
	width: 6.25vw;
	height: 1.1979166666666667vw;
	margin-top: -0.26041666666666663vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 20;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
	font-size: 1.1458333333333333vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.220703125vw;
}

#desktop_50-42 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 10.729166666666666vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 21;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-43 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 8.072916666666668vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 22;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-44 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 5.416666666666667vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 23;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-45 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 2.7604166666666665vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 24;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-49 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 13.4375vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 25;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-50 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 11.302083333333334vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 26;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-51 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 9.166666666666666vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 27;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-52 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 7.03125vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 28;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-53 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 4.895833333333333vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 29;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-54 {
	width: 13.333333333333334vw;
	height: 1.09375vw;
	margin-top: 2.7604166666666665vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 30;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_50-61 {
	width: 39.427083333333336vw;
	height: 0.9895833333333333vw;
	margin-top: 1.5625vw;
	margin-left: 5.104166666666667vw;
	z-index: 32;
}

#desktop_403-2 {
	width: 49.583333333333336vw;
	height: 1.1979166666666667vw;
	margin-top: 2.9166666666666665vw;
	margin-left: 0vw;
	z-index: 33;
}

#desktop_50-62 {
	width: 12.604166666666666vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 34;
}

#desktop_50-64 {
	width: 12.34375vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 14.166666666666666vw;
	z-index: 35;
}

#desktop_50-66 {
	width: 5.833333333333333vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 28.072916666666664vw;
	z-index: 36;
}

#desktop_50-68 {
	width: 3.958333333333333vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 35.46875vw;
	z-index: 37;
}

#desktop_403-5 {
	width: 31.458333333333332vw;
	height: 1.1979166666666667vw;
	margin-top: 0vw;
	margin-left: 9.0625vw;
	z-index: 42;
}

#desktop_50-63 {
	width: 12.604166666666666vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 38;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	font-size: 0.9375vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 0.9765625vw;
}

#desktop_50-65 {
	width: 12.34375vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 39;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	font-size: 0.9375vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 0.9765625vw;
}

#desktop_50-67 {
	width: 5.833333333333333vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 40;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	font-size: 0.9375vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 0.9765625vw;
}

#desktop_50-69 {
	width: 3.958333333333333vw;
	height: 0.9895833333333333vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 41;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	font-size: 0.9375vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 0.9765625vw;
}

#desktop_403-3 {
	width: 31.458333333333332vw;
	height: 1.1979166666666667vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 43;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.0416666666666665vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.0986328125vw;
}

#desktop_15-230 {
	width: 51.302083333333336vw;
	height: 107.8125vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 46;
}

#desktop_2-336 {
	width: 50.520833333333336vw;
	height: 20.833333333333336vw;
	margin-top: 2.604166666666667vw;
	margin-left: 0vw;
	z-index: 163;
}

#desktop_4-0 {
	width: 50.520833333333336vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 47;
}

#desktop_15-2 {
	width: 50.520833333333336vw;
	height: 25vw;
	margin-top: 27.604166666666668vw;
	margin-left: 0vw;
	z-index: 48;
}

#desktop_15-59 {
	width: 50.520833333333336vw;
	height: 25vw;
	margin-top: 55.208333333333336vw;
	margin-left: 0vw;
	z-index: 49;
}

#desktop_15-116 {
	width: 50.520833333333336vw;
	height: 25vw;
	margin-top: 82.8125vw;
	margin-left: 0vw;
	z-index: 50;
}

#desktop_2-167 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 51;
}

#desktop_2-195 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 26.041666666666668vw;
	z-index: 52;
}

#desktop_15-3 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 79;
}

#desktop_15-31 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 26.041666666666668vw;
	z-index: 80;
}

#desktop_15-60 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 107;
}

#desktop_15-88 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 26.041666666666668vw;
	z-index: 108;
}

#desktop_15-117 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 135;
}

#desktop_15-145 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 26.041666666666668vw;
	z-index: 136;
}

#desktop_2-181 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 53;
}

#desktop_2-209 {
	width: 24.479166666666664vw;
	height: 25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 66;
}

#desktop_2-182 {
	width: 24.479166666666664vw;
	height: 14.583333333333334vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 54;
}

#desktop_2-188 {
	width: 24.479166666666664vw;
	height: 5.208333333333334vw;
	margin-top: 17.708333333333336vw;
	margin-left: 0vw;
	z-index: 55;
}

#desktop_2-191 {
	width: 24.479166666666664vw;
	height: 2.083333333333333vw;
	margin-top: 22.916666666666664vw;
	margin-left: 0vw;
	z-index: 56;
}

#desktop_2-183 {
	width: 24.479166666666664vw;
	height: 17.708333333333336vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: none !important;
	border: none !important;
	border-radius: none !important;
	box-shadow: none !important;
	background: url(./img/861b90d495a77c5a849e32b9aafe56f4e622bdee.png) no-repeat;
	background-size: cover;
	z-index: 57;
}

#desktop_2-184 {
	width: 24.479166666666664vw;
	height: 17.708333333333336vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 58;
}

#desktop_2-185 {
	width: 24.479166666666664vw;
	height: 3.125vw;
	margin-top: 14.583333333333334vw;
	margin-left: 0vw;
	z-index: 59;
}

#desktop_2-189 {
	width: 22.916666666666664vw;
	height: 4.166666666666666vw;
	margin-top: 0.5208333333333333vw;
	margin-left: 0.78125vw;
	z-index: 62;
}

#desktop_2-192 {
	width: 22.916666666666664vw;
	height: 1.1979166666666667vw;
	margin-top: 0.46875vw;
	margin-left: 0.78125vw;
	z-index: 64;
}

#desktop_2-186 {
	width: 22.916666666666664vw;
	height: 1.1979166666666667vw;
	margin-top: 0.9895833333333333vw;
	margin-left: 0.78125vw;
	z-index: 60;
}

#desktop_2-187 {
	width: 22.864583333333332vw;
	height: 1.1979166666666667vw;
	margin-top: 0vw;
	margin-left: 0.15625vw;
	color: rgba(255, 255, 255, 1);
	z-index: 61;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
	font-size: 1.1458333333333333vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.220703125vw;
}

#desktop_2-190 {
	width: 22.291666666666668vw;
	height: 4.166666666666666vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(0, 0, 0, 1);
	z-index: 63;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 1.1458333333333333vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.220703125vw;
}

#desktop_2-193 {
	width: 22.916666666666664vw;
	height: 1.1979166666666667vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: rgba(255, 255, 255, 1);
	z-index: 65;
	overflow: hidden;
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
	font-size: 1.1458333333333333vw;
	text-align: LEFT;
	letter-spacing: 0vw;
	line-height: 1.220703125vw;
}

#desktop_2-210 {
	width: 24.479166666666664vw;
	height: 14.583333333333334vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 67;
}

#desktop_2-216 {
	width: 24.479166666666664vw;
	height: 5.208333333333334vw;
	margin-top: 17.708333333333336vw;
	margin-left: 0vw;
	z-index: 68;
}

#desktop_2-219 {
	width: 24.479166666666664vw;
	height: 2.083333333333333vw;
	margin-top: 22.916666666666664vw;
	margin-left: 0vw;
	z-index: 69;
}

#desktop_2-211 {
	width: 24.479166666666664vw;
	height: 17.708333333333336vw;
	margin-top: 0vw;
	margin-left: 0vw;
	color: none !important;
	border: none !important;
	border-radius: none !important;
	box-shadow: none !important;
	background: url(./img/01a8cee7d47828a2954bc64057dfd3bb17bd7a08.png) no-repeat;
	background-size: cover;
	z-index: 70;
}

#desktop_2-212 {
	width: 24.479166666666664vw;
	height: 17.708333333333336vw;
	margin-top: 0vw;
	margin-left: 0vw;
	z-index: 71;
}
